{% extends "base.html" %}

{% block main_content %}

	<form action="{% url 'almacen:registrar_inventario_inicial' %}" method="post" class="form-control">
		{% csrf_token %}
		<legend>INGRESAR INVENTARIO INICIAL</legend>		
		<div class="row-fluid">
			<div class="span3">
				ALMACEN: 
				<select id="almacenes" name="almacenes">
					<option value="">Elija un almacén</option>
					{% for almacen in almacenes %}
						<option value="{{ almacen.id }}">{{ almacen.descripcion }}</option>
					{% endfor %}}
				</select>
			</div>						
		</div>
		<div class="row-fluid">
			<div class="span3">
			Fecha<input type="text" name="fecha" id="fecha" readonly/><br />							
			</div>		
		</div>
		<div class="row-fluid">
		<br/>
		</div>		
		<div class="row-fluid">
			<div class="span12">
				<table id="tblDetalle"></table>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
			</div>
			<div class="span4">
				 <input type="hidden" name="cdetalles" id="cdetalles" value="0"> 
				<input class="btn btn-primary" type="submit" id="guardar" name="guardar" value="Guardar Acta">
			</div>
		</div>			
	</form>

{% endblock main_content %}

{% block js %}
	<script>
	$(function () {
		$("#fecha").datepicker();
	});
	
	$('#tblDetalle').appendGrid({
        caption: 'DETALLE INGRESO',
        initRows: 0,
        columns: [
	        { name: 'id', display: 'ID Suministro', type: 'text', ctrlAttr: { 'readonly': 'readonly' }, ctrlCss: { width: '160px'} },
	        { name: 'suministro', display: 'Suministro', type: 'ui-autocomplete', 
	        uiOption: { source: "{% url 'almacen:busquedaSuministro' %}",minLength:3,select: 
	        	function (event, ui) 
	        	{
	        		var count =  $('#tblDetalle').appendGrid('getRowCount')-1;
	        		$('#tblDetalle').appendGrid('setCtrlValue', 'id', count, ui.item.id);
	        		$('#tblDetalle').appendGrid('setCtrlValue', 'unidad', count, ui.item.unidad);
	        		$('#tblDetalle').appendGrid('setCtrlValue', 'precio', count, ui.item.precio);
	        		var tcantidad = $('#tblDetalle').appendGrid('getCellCtrl', 'cantidad', count);
	        		var tprecio = $('#tblDetalle').appendGrid('getCellCtrl', 'precio', count);
	        		$(tcantidad).focus();
	        		$(tcantidad).numeric(".");
	        		$(tcantidad).keyup(function() {
						$('#tblDetalle').appendGrid('setCtrlValue', 'valor', count, tcantidad.value*tprecio.value);
					});					
	        		$(tprecio).numeric(".");
	        		$(tprecio).keyup(function() {
						$('#tblDetalle').appendGrid('setCtrlValue', 'valor', count, tprecio.value*tcantidad.value);
					});
            		return false;
            	}},
            	ctrlCss: { width: '400px'}
            },	
	        { name: 'unidad', display: 'Unidad', type: 'text', ctrlAttr: { 'readonly': 'readonly' }, ctrlCss: { width: '100px'} },
	        { name: 'cantidad', display: 'Cantidad', type: 'text', ctrlCss: { width: '100px'}},
	        { name: 'precio', display: 'Precio', type: 'text', ctrlAttr: { maxlength: 10 }, ctrlCss: { width: '100px', 'text-align': 'right' }, value: 0 },
	        { name: 'valor', display: 'Valor', type: 'text', ctrlAttr: { 'readonly': 'readonly' }, ctrlCss: { width: '100px', 'text-align': 'right' }, value: 0 }
            ]
    });	
	$("form" ).submit(function( event ) 
	{
		var cant_filas=$('#tblDetalle').appendGrid('getRowCount');
		var cont=0;
		$('#cdetalles').val(cant_filas);
		if ($('#tipos_ingreso').val().trim() != '' && $('#almacenes').val().trim() != '') 
		{
			if($('#fecha').val().trim() != '')
			{
				if(cant_filas>0)
				{
					while(cont<cant_filas) 
					{
						var aux_id = $('#tblDetalle').appendGrid('getCellCtrl', 'id', cont);
						var aux_cant = $('#tblDetalle').appendGrid('getCellCtrl', 'cantidad', cont);
						if($(aux_id).val().trim() == '' || $(aux_cant).val().trim() == '')
						{
							alert("Complete los campos del detalle")
							event.preventDefault();
						}
						cont++;
					}
					return;	
				}				
			}
			else
			{
				alert("No ha seleccionado fecha")
			}			
		}
		else
		{
			alert("No ha seleccionado tipo de ingreso")
		}		
		event.preventDefault();
	});
   	
	</script>
{% endblock js %}